@model IEnumerable<DrBAE.WdmServer.Models.LotModel>

@{
    ViewData["Title"] = "Index";

    ViewData["SetGridEvent"] = true;
}

<h4>Lot</h4>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.LotName).Titled(@Html.DisplayNameFor(model => model.LotName)).Sortable(true);
        columns.Add(model => model.LotDate).Titled(@Html.DisplayNameFor(model => model.LotDate)).Filterable(GridFilterType.Double).Sortable(true).Formatted("{0:d}");
    })
    .Empty("No data found")
    .Filterable()
    .Using(GridFilterMode.Excel)
    .Pageable(pager =>
    {
        pager.PageSizes = HardCoding.View.PagerSizes;
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 1;
    })
    .Css("table-hover")
    .RowAttributed(model => new { data_id = model.Id })
)
