@model IEnumerable<DrBAE.WdmServer.Models.DutAnalysisModelBase>

@{
    ViewData["Title"] = "Index";

    ViewData["SetGridEvent"] = true;

    Dictionary<int, List<object>> _vms = (Dictionary<int, List<object>>)ViewBag.vms;
}

<h4>ChipData</h4>
<br />
<p>
    <a asp-action="Create">Create New -- TODO: remove</a>
    <span>Num Items: @Model.Count()</span>
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        foreach ((int, object) c in ViewBag.ColumnHeaders) columns.Add(model => _vms[model.Id][c.Item1]).Titled(c.Item2);
    })
    .Empty("No data found")
    .Sortable()
    .Filterable()
    .Using(GridFilterMode.Excel)
    .Pageable(pager =>
    {
        pager.PageSizes = HardCoding.View.PagerSizes;
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 1;
    })
    .Css("table-hover")
    .RowAttributed(model => new { data_id = model.Id })
)
